<div class="row justify-content-center">
	<div class="col-8 pt-3">
		<div class="bg-light p-3 rounded mb-3 pb-1 position-relative legal-text">
			<h2>Ausleihbedingungen</h2>
			<p class="small text-muted">Stand <%= l(LegalText.current_tos.created_at, :format => "%d.%m.%Y") %></p>
			<%= render_markdown(LegalText.current_tos.content) %>
		</div>
		<%= render "shared/footer" %>
	</div>
</div>
