<header class="row">
    <div class="col-2">
    </div>
    <div class="col-7 bnz-tab-navigation d-flex align-items-stretch pt-3">
        <h3>Wähle die ausleihende Person</h3>
    </div>
    <div class="col-3 d-flex align-items-center">
        <%= render 'shared/user_menu' %>
    </div>
</header>

<div class="row">
    <div class="col-2 pt-3 d-flex justify-content-end align-items-start">
        <%= link_to "Zurück", public_home_page_path, class: "link-back link-dark" %>
    </div>
    <div class="col-7">
        <div class="p-3 bg-light mb-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control search-icon" id="autoCompleteUser" placeholder="Ausleihende suchen">
            </div>
            <div class="results borrower">
                <div class="result" data-controller="show-borrower-details" data-show-borrower-details-target="item">
                    <div class="header">
                        <a class="name" data-action="show-borrower-details#toggleDetails">
                            <h4>Anna Aichinger</h4>
                        </a>
                        <div class="right">
                            <a href="#" class="add-to-cart">
                            </a>
                        </div>
                    </div>
                    <div class="details">
                        <div class="line">
                            <div class="email">anna.clemens@fh-potsdam.de</div>
                            <div class="phone">0177 22 33 444</div>
                        </div>
                        <div class="line">
                            <div class="id">762603</div>
                            <div class="id-checked">Ausweis geprüft</div>
                            <div class="insurance-checked">Haftpflicht geprüft</div>
                        </div>
                        <div class="line">
                            <a href="#">Profil öffnen</a>
                        </div>
                    </div>
                </div>
                <div class="result" data-controller="show-borrower-details" data-show-borrower-details-target="item">
                    <div class="header">
                        <a class="name" data-action="show-borrower-details#toggleDetails">
                            <h4>iPad Pro</h4>
                        </a>
                        <div class="right">
                            <a href="#" class="add-to-cart">
                            </a>
                        </div>
                    </div>
                    <div class="details">
                        <div class="line">
                            <div class="email">anna.clemens@fh-potsdam.de</div>
                            <div class="phone">0177 22 33 444</div>
                        </div>
                        <div class="line">
                            <div class="id">762603</div>
                            <div class="id-checked">Ausweis geprüft</div>
                            <div class="insurance-checked">Haftpflicht geprüft</div>
                        </div>
                        <div class="line">
                            <a href="#">Profil öffnen</a>
                        </div>
                    </div>
                </div>
                <div class="result">
                    <div class="header warning">
                        <a class="name" href="#">
                            <h4>Anna Aichinger</h4>
                        </a>
                        <div class="right">
                            <span class="label">gesperrt</span> 
                            <span class="date">18.02.2022</span>
                            <span class="icon"> </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-outline-secondary btn-sm">
                    weitere Ergebnisse laden
                </a>
            </div>
        </div>
        <div class="recent-lendings">
            <h6>Letzte Ausleihen</h6>
            <div class="lending">
                <a href="/ausleihe/1" class="">
                    <img >
                    <strong class="name">Anna Clemens</strong>
                    <p>Ausleihe vor 30 Sekunden</p>
                </a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="cart">
            <h6>Ausleihkorb</h6>
            <ul class="line-items">
                <li>
                    <span class="amount">1x</span> iPad Pro 256GB <a href="#" class="remove"></a>
                </li>
                <li>
                    <span class="amount">1x</span> iPad Pro 256GB <a href="#" class="remove"></a>
                </li>
            </ul>
        </div>
    </div>
</div>