<%# ABOUTME: Renders a department switcher dropdown or a plain department name for the current user. %>
<% departments = current_user.switchable_departments %>
<% if departments.any? %>
  <div class="dropdown">
    <button class="btn btn-sm dropdown-toggle p-0 link-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <%= current_user.current_department.name %>
    </button>
    <ul class="dropdown-menu">
      <% departments.each do |dept| %>
        <li>
          <%= button_to dept.name, switch_department_path(department_id: dept.id), method: :patch, class: "dropdown-item btn btn-link" %>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <span><%= current_user.current_department.name %></span>
<% end %>
