<ul class="list-unstyled">
    <li><%= link_to "Öffnungszeiten & Infos der Werkstätten", departments_path, class: "link-secondary", data: {turbo: false} %></li>
    <li><%= link_to "Ausleihbedingungen", ausleihbedingungen_path, class: "link-secondary", data: {turbo: false} %></li>
    <li><%= link_to "Datenschutz", datenschutz_path, class: "link-secondary", data: {turbo: false} %></li>
    <li><%= link_to "Impressum", impressum_path, class: "link-secondary", data: {turbo: false} %></li>
</ul>