<div class="container mt-5">
  <h1>Ein Fehler ist aufgetreten</h1>
  <p>Es ist ein unerwarteter Fehler aufgetreten. Bitte versuche es später erneut.</p>
  <%= link_to "Zurück zur Startseite", root_path, class: "btn btn-primary" %>
</div>
