<header class="row">
    <div class="col-2">
    </div>
    <div class="col-7 bnz-tab-navigation d-flex align-items-stretch pt-3">
        <h3>Artikel bearbeiten</h3>
    </div>
    <div class="col-3 d-flex align-items-center">
        <%= render 'shared/user_menu' %>
    </div>
</header>

<div class="row">
    <div class="col-2 pt-3 d-flex justify-content-end align-items-start">
    </div>
    <div class="col-7">
        <div class="p-3 bg-light mb-3 rounded-bottom">

          <%= render "form", parent_item: @parent_item, path: parent_item_path(@parent_item) %>

        </div>
    </div>
    <div class="col-3">
    </div>
</div>