<div class="unstaffed-msg container-fluid">
  <div><strong>Die Werkstatt ist vorübergehend geschlossen.</strong> Aktuelle Ausleihen pausieren für diese Zeit.</div> <%= link_to "Werkstatt wieder öffnen", staff_department_url(current_user.current_department), class: "btn btn-light btn-sm" %>
</div>